.cv-list {
  &__item {
    --flow-space: #{get-size(700)};
  }

  &__heading {
    color: var(--color-theme-primary);

    small {
      display: block;
    }
  }

  &__link {
    &,
    &:visited {
      color: var(--color-theme-primary);
      text-decoration: none;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  ul.cv-list__descriptions {
    list-style: square;
    padding-left: get-size(500);
    padding-top: get-size(300);
  }
}
