.pagination {
  flex-wrap: wrap;

  &__nav {
    width: 100vw;
    max-width: map-get($metrics, 'wrap-max-width');
    margin-left: 50%; /*changing this value to 47% removes the horizontal scrollbar once the viewport is < 930px */
    transform: translateX(
      -50%
    ); /* changing this value to 49% allows for the suggestion above to also eliminate the horizontal scroll. */
    position: relative;
    padding: get-size(700);
  }

  a {
    color: var(--color-theme-primary);

    &:not(:hover) {
      text-decoration: none;
    }

    // Flip content if direction is backwards
    &[data-direction='backwards'] {
      flex-direction: row-reverse;
      // margin-inline-end: 0.5rem;
      margin-right: 0.5rem;

      svg {
        transform: rotate(-180deg);
      }
    }

    // If only child and forwards, push out to the right
    &[data-direction='forwards'] {
      // margin-inline-start: 0.5rem;
      margin-left: 0.5rem;
    }
    &[data-direction='forwards']:only-child {
      margin-left: auto;
    }
  }

  svg {
    pointer-events: none;
  }
}
