{% set experienceHeading = 'Experience' %}
{% set educationHeading = 'Education' %}
{% set skillsHeading = 'Skills' %}
{% set downloadHeading = 'Download CV' %}
{% set downloadText = 'You can also download a PDF version of my CV:' %}
{% set startDateText = 'From' %}
{% set endDateText = 'until' %}
{% set endDateTextOpen = 'until now' %}

{% if cvLanguage == 'de' %}
  {% set experienceHeading = 'Berufserfahrung' %}
  {% set educationHeading = 'Schul-/Hochschulbildung' %}
  {% set skillsHeading = 'Kenntnisse' %}
  {% set downloadHeading = 'CV Herunterladen' %}
  {% set downloadText = 'Sie können auch eine PDF-Version meines CV herunterladen:' %}
  {% set startDateText = 'Von' %}
  {% set endDateText = 'bis' %}
  {% set endDateTextOpen = 'bis heute' %}
{% endif %}

{% if cv.experience %}
  <section class="[ cv-list ] [ pad-top-700 gap-bottom-900 ]">
    <div class="[ inner-wrapper ] [ sf-flow ]">
      <h2 class="[ cv-list__heading ] [ text-700 md:text-800 ]">{{ experienceHeading }}</h2>
      <ol class="[ cv-list__items ] [ sf-flow ] [ pad-top-300 ]" reversed>
        {% for item in cv.experience %}
          {% set title = item.title[cvLanguage] or item.title %}
          {% set company = item.company[cvLanguage] or item.company %}
          {% set descriptionList = item.description[cvLanguage] or item.description %}
          <li class="cv-list__item">
            <h3 class="[ cv-list__heading ] font-base leading-tight text-600 weight-mid">{{ title }}</h3>
            <p class="text-500 weight-mid">{{ company }}</p>
            {% if item.start or item.end %}
              <p>
                {% if item.start %}
                  {{ startDateText }}
                  <time datetime="{{ item.start | w3DateFilter }}">{{ item.start | dateFilter(false, cvLanguage) }}</time>
                {% endif %}
                {% if item.end %}
                  {{ endDateText }}
                  <time datetime="{{ item.end | w3DateFilter }}">{{ item.end | dateFilter(false, cvLanguage) }}</time>
                {% else %}
                  {{ endDateTextOpen }}
                {% endif %}
              </p>
            {% endif %}
            {% if descriptionList %}
              <ul class="cv-list__descriptions">
                {% for descriptionItem in descriptionList %}
                  <li>{{ descriptionItem }}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ol>
    </div>
  </section>
{% endif %}

{% if cv.education %}
  <section class="[ cv-list ] [ pad-top-700 gap-bottom-900 ]">
    <div class="[ inner-wrapper ] [ sf-flow ]">
      <h2 class="[ cv-list__heading ] [ text-700 md:text-800 ]">{{ educationHeading }}</h2>
      <ol class="[ cv-list__items ] [ sf-flow ] [ pad-top-300 ]" reversed>
        {% for item in cv.education %}
          {% set title = item.school[cvLanguage] or item.school %}
          {% set degree = item.degree[cvLanguage] or item.degree %}
          {% set descriptionList = item.description[cvLanguage] or item.description %}
          <li class="cv-list__item">
            <h3 class="[ cv-list__heading ] font-base leading-tight text-600 weight-mid">{{ title }}</h3>
            <p class="text-500 weight-mid">{{ degree }}</p>
            {% if item.start or item.end %}
              <p>
                {% if item.start %}
                  {{ startDateText }}
                  <time datetime="{{ item.start | w3DateFilter }}">{{ item.start | dateFilter(false, cvLanguage) }}</time>
                {% endif %}
                {% if item.end %}
                  {{ endDateText }}
                  <time datetime="{{ item.end | w3DateFilter }}">{{ item.end | dateFilter(false, cvLanguage) }}</time>
                {% else %}
                  {{ endDateTextOpen }}
                {% endif %}
              </p>
            {% endif %}
            {% if descriptionList %}
              <ul class="cv-list__descriptions">
                {% for descriptionItem in descriptionList %}
                  <li>{{ descriptionItem }}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ol>
    </div>
  </section>
{% endif %}

{% if cv.downloads and cv.downloads[cvLanguage] %}
  <section class="[ post ] [ h-entry ]">
    <div class="[ post__body ] [ inner-wrapper ] [ leading-loose pad-top-900 pad-bottom-900 text-500 ] [ sf-flow ] [ e-content ]">
      <h2 class="[ cv-list__heading ] [ text-700 md:text-800 ]">{{ downloadHeading }}</h2>
      <p class="">{{ downloadText}}<br /><a href="{{cv.downloads[cvLanguage]}}">Curriculum Vitae</a></p>
    </div>
  </section>
{% endif%}