{% set paginationLinkTokens = 'leading-tight text-500 weight-mid box-inline-flex align-center' %}

{% if paginationNextPost or paginationPrevPost %}
  <div class="inner-wrapper">
    <footer class="[ pagination ] [ pad-top-500 pad-bottom-500 ]">
      <nav class="[ pagination__nav ] [ box-flex space-between align-center ]" aria-label='post'>
        {% if paginationPrevPost %}
          <a href="{{ paginationPrevPost.url }}" class="{{ paginationLinkTokens }}" data-direction="backwards">
            <span>{{ paginationPrevPost.data.title }}</span>
            {% include "icons/arrow.svg" %}
          </a>
        {% endif %}
        {% if paginationNextPost %}
          <a href="{{ paginationNextPost.url }}" class="{{ paginationLinkTokens }} ta-right" data-direction="forwards">
            <span>{{ paginationNextPost.data.title }}</span>
            {% include "icons/arrow.svg" %}
          </a>
        {% endif %}
      </nav>
    </footer>
  </div>
{% endif %}
