{% extends 'layouts/base.njk' %}

{% if not metaDesc and summary %}
  {% set metaDesc = summary %}
{% endif %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}{{ summary | safe }}{% endset %}

{% block content %}
  <main id="main-content" tabindex="-1">
    {% include "partials/components/intro.njk" %}
    {% include "partials/components/cv.njk" %}
  </main>
{% endblock %}
