{% extends 'layouts/base.njk' %}

{% if not metaDesc and summary %}
  {% set metaDesc = summary %}
{% endif %}

{# Intro content #}
{% set introHeading = title %}

{% if summary %}
  {% set introSummary %}
    <p class="[ intro__meta ] [ text-500 ]">
      {{ summary }}
    </p>
  {% endset %}
{% endif %}

{% block content %}
  <main id="main-content" tabindex="-1">
    <article class="[ post ] [ h-entry ]">
      {% include "partials/components/intro.njk" %}
      <div class="[ post__body ] [ inner-wrapper ] [ leading-loose pad-top-900 pad-bottom-900 text-500 ] [ sf-flow ] [ e-content ]">
        {{ content | safe }}
      </div>
    </article>
  </main>
{% endblock %}

{{ content | safe }}
