{% extends 'layouts/base.njk' %}

{% if not metaDesc and summary %}
  {% set metaDesc = summary %}
{% endif %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}
<p class="[ intro__meta ] [ text-500 leading-tight ]">
  {% if date %}
    <time datetime="{{ date | w3DateFilter }}" class="dt-published">{{ date | dateFilter }}</time>
  {% endif %}
  <span>— {{ helpers.getReadingTime(content) }} minute read</span>
</p>
{% endset %}
{% set paginationNextPost = collections.posts | getPreviousCollectionItem(page) %}
{% set paginationPrevPost = collections.posts | getNextCollectionItem(page) %}

{% block content %}
  <main id="main-content" tabindex="-1">
    <article class="[ post ] [ h-entry ]">
      {% include "partials/components/intro.njk" %}
        {% if summary %}
          <section class="[ post__summary ] [ inner-wrapper ] [ leading-loose pad-top-900 text-500 ] [ sf-flow ] [ e-content ]" aria-label="Quick summary">
            {{ summary }}
            <hr>
          </section>
        {% endif %}
      <div class="[ post__body ] [ inner-wrapper ] [ leading-loose pad-top-900 {{ 'pad-bottom-900' if not site.enableThirdPartyComments }} text-500 ] [ sf-flow ] [ e-content ]">
        {{ content | safe }}
      </div>
      {% if site.enableThirdPartyComments %}
        <hr />
        <aside class="[ post__body ] [ inner-wrapper ] [ pad-bottom-900 text-500 ]">
          {% include "partials/global/third-party-comments.njk" %}
        </aside>
      {% endif %}
      {% if tags %}
        <footer class="[ post__footer ] [ pad-top-500 pad-bottom-500 ]">
          <div class="inner-wrapper">
            <div class="[ nav ] [ box-flex align-center ]">
              <h2 class="font-base text-600 weight-mid">Filed under</h2>
              <ul class="[ nav__list ] [ box-flex align-center pad-left-400 ] [ p-category ]">
                {% for item in tags %}
                  <li class="nav__item">
                    <a href="/tags/{{ item }}">{{ item }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </footer>
      {% endif %}
    {% include "partials/components/postNavigation.njk" %}
    </article>
  </main>
{% endblock %}

{{ content | safe }}
